<% unless @product_properties.empty? %>
<table id="product-properties" class="table-display">
<% for product_property in @product_properties %>
<tr>
  <td class="svojstvo"><%= product_property.property.presentation %></td>
  <td class="znachenie"><%= product_property.value %></td>
</tr>
<% end %>
</table>
<% end %>
