<footer id="footer" class="alpha omega sixteen columns" data-hook>
  <div id="footer-left" class="columns alpha eight" data-hook>
    <p>
      Created by <%= link_to 'gnotov.com', 'http://gnotov.com/' %>
    </p>
  </div>
  <div id="footer-right" class="columns omega eight" data-hook>
    <p style="text-align: right">
      © Musthave.lv 2010-2013. All Rights Reserved
    </p>
  </div>
</footer>
