<nav id="top-nav-bar" class="columns omega ten">
  <ul id="nav-bar" class="inline" data-hook>
    <li id="lang"><%= render :partial => 'spree/shared/languages' %></li>
    <li id="search" data-hook style="display: block">
      <%= render :partial => 'spree/shared/search' %>
    </li>
  </ul>
</nav>
