<% if target && target.errors.any? %>
  <div id="errorExplanation" class="errorExplanation">
    <p><b>Проблема в следущих полях:</b></p> <br>
     <ul>
     <% target.errors.full_messages.each do |msg| %>
       <li><%= msg %></li>
     <% end %>
     </ul>
  </div>
<% end %>
