<div id="footer">
  <div class="left">
    <%= hook :footer_left do %>
    <p>
      Powered by  <a href="http://gnotov.com">gnotov.com</a>
      © Musthave.lv 2010-2012. All Rights Reserved
    </p>
    <% end %>
  </div>
  <div class="right">
    <%= hook :footer_right %>
  </div>
</div>   
<%= render 'shared/google_analytics' %>
