<% @body_class = 'two-col' %>

<% content_for :sidebar do %>
  <%= hook :homepage_sidebar_navigation do %>
    <% if "products" == @current_controller && @taxon %>
      <%= render "shared/filters" %>
    <% else %>
      <%= render "shared/taxonomies" %>
    <% end %>
  <% end %>
<% end %>

<h1>Контакты</h1>
<p class="contacts">  Дорогие покупатели,
мы всегда рады каждому из Вас!  <br><br>
  Звоните:<b> +371 29322169 </b> <br>
  Пишите: <b> order@musthave.lv </b>
  
  <br><br>С удовольствием ответим на любые Ваши вопросы.   </p>